<header>
        <nav class="navbar navbar-expand-lg nav-color">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="images/QLX_monogramme_noir_RVB.png" alt="" width="30" height="24">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon navbar-toggler-color"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link nav-lien" aria-current="page" href="#">Mon compte</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-lien" aria-current="page" href="{{path("app_user_home")}}">Mes expériences</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-lien" aria-current="page" href="{{path("app_user_resto_address")}}">Les bonnes adresses</a>
                  </li>
                </ul>
</header>