{% extends 'admin/base.html.twig' %}

{% block title %}Ajout d'un prestataire
{% endblock %}

{% block body %}
	{% include "admin/partials/header.html.twig" %}
	<div class="bloc-establishment-admin contenu">
		<div class="title-admin-list">
			<h1>Ajout d'un prestataire</h1>
			<a class="button from-center" href="{{path('app_admin_home')}}">Retour</a>
		</div>

		{{ include('admin/user/_form.html.twig') }}

	</div>
	{% include "admin/partials/footer.html.twig" %}
{% endblock %}
