{% extends 'Pro/base.html.twig' %}

{% block title %}Modifier un établissement{% endblock %}

{% block body %}

<main class="container-fluid formResp">

    <h1 class="title-form">Modifier l'établissement</h1>

    <div class="title-establishment">
        <a class="button from-center" href="{{ path('app_pro_establishments') }}">Retour</a>
    </div>


    
    {{ include('Pro/establishment/_form.html.twig', {'button_label': 'Modifier'}) }}

    

</main>
{% endblock %}
