{% extends 'base.html.twig' %}

{% block title %}Ajout d'un établissement{% endblock %}

{% block body %}

<main class="container-fluid">
    <h1>Ajout d'un établissement</h1>

        <div class="title-establishment">
            <a class="button from-center" href="{{ path('app_pro_establishments') }}">Retour</a>
        </div>

    {{ include('Pro/establishment/_form.html.twig') }}
    
</main>
{% endblock %}
