{% extends 'Pro/base.html.twig' %}

{% block title %}Ajout d'un établissement{% endblock %}

{% block body %}
{% include "Pro/partials/header.html.twig" %}

<main class="container-fluid formResp">
    <h1 class="title-form">Ajout d'un établissement</h1>

        <div class="title-establishment">
            <a class="button from-center" href="{{ path('app_pro_establishments') }}">Retour</a>
        </div>

    {{ include('Pro/establishment/_form.html.twig') }}
    
</main>
{% endblock %}
