{% extends 'base.html.twig' %}

{% block title %}New Package{% endblock %}

{% block body %}

    {{ include('Pro/partials/header.html.twig') }}

    <div class='container my-6 bloc-show'>
    <a href="{{ path('app_pro_home') }}" class="button from-center float-end">Retour</a>
    <h1 class="bloc-show-title"> Ajouter un package </h1>

    

    {{ include('package/_form.html.twig') }}

    </div>
{% endblock %}
