{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

		<div>
			{{ form_widget(form) }}
			
		</div>
		<div class=" validate-form">
			<button class="btn button from-center btn-log" type="submit">Valider</button>
		</div>
		{{ form_end(form) }}