{% extends 'base.html.twig' %}

{% block title %}Ajout d'un établissement
{% endblock %}

{% block body %}
	{% include "admin/partials/header.html.twig" %}
	<div class="bloc-establishment-admin">
		<div class="title-admin-list">
			<h1>Ajout d'un établissement</h1>
			<a class="button from-center" href="{{path('app_admin_home')}}">Retour</a>
		</div>

		{{ include('admin/establishment/_form.html.twig') }}

	</div>
{% endblock %}
