{% extends 'base.html.twig' %}

{% block title %}Ajout d'un établissement
{% endblock %}

{% block body %}
	{% include "admin/partials/header.html.twig" %}

	<div class="title-admin-list">
		<h1>Ajout d'un établissement</h1>
		<a class="button from-center" href="{{path('app_admin_home')}}">Retour</a>
	</div>

	{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

	{{ form_widget(form) }}

	<button class="btn button from-center btn-log" type="submit">Ajouter</button>
	{{ form_end(form) }}


{% endblock %}
