{% extends 'base.html.twig' %}

{% block title %}Accueil administrateur{% endblock %}

{% block body %}
{% include "admin/partials/header.html.twig" %}

    <h1>Bienvenue</h1>

{% include "admin/partials/footer.html.twig" %}
{% endblock %}
