/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*!      /*!Detail package page slider*/   
/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.slider{
    position: relative;
    height: 100%;
    display:flex;
    align-items: center;
    width: 90%;
    height: 50%;
}

.image-home{
    width: 70%;
}

.slider-button {
    position: absolute;
    top: 50%; 
    transform: translate(0%, 50% );
    background: linear-gradient(#7A8C73, #315565 );
    color: #F6F0E9 ;
    border: none;
}

.carousel{
    display: flex;
    justify-content: center;
}

#previous {
    left: 15%; 
}

#next {
    right: 15%;
}