/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*!             /*!Form*/   
/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.validate-form {
    margin: 30px 0;
    text-align: center;
}

.title-form {
    text-align: center;
    margin-top: 2em;
}