
@media screen and (max-width: 990px) {


    .container--address {
        flex-direction: none;
        justify-content: space-evenly;
        margin-bottom: 5%;
        display: block;
    }

    .wrap-img{
        display: flex;
        margin-top: 4%;
        padding: 20px;
        justify-content: center;
        align-items: center;

    }

    .container--address_package{
        border: 6px outset #7A8C73;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 2%;
    }


    .container--address,
    .container--address_package,
    .wrap-book{
        width: 100%;
    }

    #form-book{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .label-form-book{
        text-align: center;
        width: 100%;
        margin-right: 0;
        margin-top: 3%;
    }

    .book-input {
        padding: 1%;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    #book_date {
        width: 100%;
    }
}