/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*!      /*!Admin pages*/   
/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ---------HOMEPAGE------- */

.title-admin-list {
    height: 150px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.filter-list {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
    margin-top: 30px;
}
.head-list-admin {
    background: linear-gradient(#7A8C73, #315565);
    width: 50%;
    color: #F6F0E9;
}

.delete-menu {
    background-color:#F6F0E9;
}


/* ---------ADD NEW ESTABLISHMENT------- */

.bloc-establishment-admin {
    max-width: 800px;
    color: #315565;
    margin: auto;
}

.admin-navbar {
    margin-left:10px;
}