:root{
    --linear-gradient-color : linear-gradient(#7A8C73, #315565);
    --text-color-title : #F6F0E9;
}


/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*!      /*!Same class*/   
/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.head-list-establishment {
    background: var(--linear-gradient-color);
    color: var(--text-color-title);
}

.title {
    margin-top: 5rem;
}

.title-secondary {
    font-size: 25px;
    text-align: center;
}

a{
    text-decoration: none; 
}

/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*!      /*!Homepage pro*/   
/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.bloc-establishment {
    margin-bottom: 5%;
}

.bloc-package {
    width: 50%;
    font-weight: normal;
}

.bloc-icon-package {
    display: flex;
    justify-content: flex-end;
}

html, body {
    height: 100%;
}

.contenu {
    min-height: 90vh;
    /* equal to footer height */
    margin-bottom: -70px; 
}

.contenu:after {
    content: "";
    display: block;
}

.footer-pro, .contenu:after {
    height: 70px;
}

.footer-pro {
    background-color: #121629;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*!      /*!Establishmentpage pro*/   
/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.title-establishment {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1%;
}

/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*!      /*!Book pro*/   
/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.filter-list {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
}

.title-book {
    margin-top: 2em;
    font-style: italic;
    color: #315565;

}

@media screen and (max-width: 1024px){
    .table , .formResp{
        font-size: x-large;
        
    }
    
    .filter-list {
        display: flex;
        margin: 1em;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }

    .bloc-icon-package {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
    }
}


