/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*!      /*!Admin pages*/   
/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ---------HOMEPAGE------- */

.title-admin-list {
    height: 150px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.filter-list {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
    margin-top: 30px;
}
.head-list-admin {
    background: linear-gradient(#7A8C73, #315565 );
    width: 50%;
    color: #F6F0E9;
}

.edit {
    background: linear-gradient(#7A8C73, #315565 );
    color: #F6F0E9;
}

.edit:hover {
    background: linear-gradient(#131629 , #315565);
    color: #F6F0E9;
}
.delete {
    background: linear-gradient(#315565, #131629 );
    color: #F6F0E9;
}

.delete:hover {
    background: linear-gradient(#315565, #7A8C73);
    color: #F6F0E9;
}

.delete-menu {
    background-color:#F6F0E9;
}

.orange {
    color: darksalmon;
}

.green {
    color:#7A8C73
}

.red {
    color:darkred
}

/* ---------ADD NEW ESTABLISHMENT------- */

.bloc-establishment-admin {
    max-width: 800px;
    color: #315565;
    margin: auto;
    
}
.validate-form {
    margin: 30px 0;
    text-align: center;
}

.admin-navbar {
    margin-left:10px;
}