.body-color{
    background-color: #F6F0E9;
}

/* Header*/

.nav-color {
    background-color: #121629;
}

.nav-lien {
    color: #F6F0E9;
}

.nav-lien:hover {
    color: #7A8C73;
}

.navbar-toggler-color {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(246,240,233,0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

/*Footer*/

.footer-color {
    background-color: #121629;
}

.footer-bloc {
    display: flex;
    justify-content: center;
}

.footer-list {
    list-style: none;
    padding-right: 2em;
}

.footer-lien {
    color: #F6F0E9;
    text-decoration: none;
}

.footer-lien:hover {
    color: #7A8C73;
}


/*Detail package page*/

.container{
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    color: #131629;
    display: block;
    font-size: 26px;
}

.container-fluid{
    margin: auto;
}

.title_package,
.container--map_package,
.container--package_picture,
.container--description_package,
.container--validity_package,
.container--address_package,
.container--formBook_package{
    padding: 2%;
    width: 100%;
}

.title_package{
    text-align: center;
    
}


.container--map_package{
    justify-content: center;
}

.container--package_picture{
    width: calc(100%/2);
    display: flex;
    
}

.container--package_picture img {
    padding: 2%;
}
.container--description_package{
    width: 34em;
    background-color:  #7A8C73;

}

.container--description_package img{
    padding: 1%;
    
}

.container--validity_address{
    display: flex;
    margin-left: 12%;
    
}



.container--validity_package,
.container--address_package{
    width: calc(100%/2);
    border: 6px solid #7A8C73;
    margin: 2% 2%;
    list-style: none;
}

.container--formBook_package{
    border: 6px solid #7A8C73 ;
    margin: 5% 8% 8% 11%;
}

