:root {
    --color-primary : #F6F0E9;
    --color-secondary : #121629;
    --color-terciary : #7A8C73;
}


.body-color{
    background-color: var(--color-primary);
    font-family: Happy Times, serif;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*           /*! Header */   
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.logo {
    background-color: var(--color-primary);
    width: 130%;
}

.nav-color {
    background-color: var(--color-secondary);
}
 
.nav-lien {
    color: var(--color-primary);
}

.nav-lien:hover {
    color: var(--color-terciary);
}

.navbar-toggler-color {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(246,240,233,0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}


.dropdown-menu{
    color: var(--color-terciary);
    background-color: #315565e5;

}

.dropdown-item:hover{
    color: var(--color-primary);
    background-color: var(--color-terciary);

}


/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*!           /* Footer */   
/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.footer-color {
    background-color: var(--color-secondary);
    padding: 15px;
}

.footer-bloc {
    display: flex;
    justify-content: center;
}

.footer-list {
    list-style: none;
    padding-right: 2em;
}

.footer-lien {
    color: var(--color-primary);
    text-decoration: none;
}

.footer-lien:hover {
    color: var(--color-terciary);
}

/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*!           /* LOGIN FORM  */   
/*! ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.bloc-login {
    
    width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
}

.bloc-title {
    color: var(--color-secondary);
}

#inputEmail {
    margin-bottom: 30px;
}

.bloc-message-book {
    padding-bottom: 10px;
    font-size: 19px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*       /* Error 404/403 */   
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.container-error {
    display: flex;
    justify-content: center;
}

.title-error {
    margin-top: 14px;
    font-size: 18rem;
}

.logo-error {
    background-color: var(--color-primary);
    width: 25%;
}

.container-message {
    text-align: center;
}

.container-message-error {
    margin-bottom: 3em;
    font-size: 2em;
}
