

body {
    background-color: #f6f0e9;
    color: #131629;
}

main {
    position: relative;
}

.top-section {
    
    width: 100%;
    background-color: #f6f0e9;
    z-index: 1;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 10px;
}

#map {
    margin: 20px 0;
    height: 270px;
    z-index: 0;
    
}

.title-filter h2{
    font-size: 1.3em;
}


/* ---------FILTER FORMATTING------- */

/* button */
#filter {
    background-color: #315565;
    border-color: #315565;
    color: #f6f0e9;
    padding: 6px 10px;
    font-size: 0.8em;
}

#filter:hover {
    background-color: #83907c;
}


/* div */

.filter-case {
    padding: 15px;
    z-index: 7;
    position: absolute;
    background-color: rgba(49, 85, 101, 0.9);
    color: #f6f0e9;
    width: 80%;
    top:7%;
    left: 50%;
    transform: translate(-50%, 30%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.close {
    position: absolute;
    right: 20px;
    top:10px;
}
.fa-xmark:hover {
    color: #83907c;
}

.title-filter {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-checkbox {
    display: flex;
}

input[type="checkbox"] {
    background-color: #83907c;
    
}

input[type="checkbox"]:checked {
    background: #131629;
}

.select-price {
    width: 150px;
    height: 40px;
    margin: 20px;
    text-align: center;
}


.select-filter {
    margin: 20px;
    text-align: center;
}



/* ---------LIST OF RESTAURANT FORMATTING------- */



.restaurant {
    background-color: #83907c;
    color: #f6f0e9;
    padding: 15px;
    margin: 15px;
    border: 1px solid #315565;
    border-radius: 15px;
    
}

.restaurant:hover {
    background-color: #315565;
    color: #f6f0e9;
}

a {
    text-decoration: none;
}

.establishmentList {
    height: 50vh;
    overflow-y: scroll;
}

/* ---------RESTAURANT'S DETAILS FORMATTING------- */

.details {
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: #131629;
    color: #f6f0e9;z-index: 10;
    position: relative;
    bottom: 0px;
    width: 100%;   
}

.closed {
    position: absolute;
    right: 20px;
    top:10px;
}



@media screen and (min-width: 1024px) {

    main {
        width: 80%;
        margin: auto;
    }
    .contener {
        margin: auto;
        display: flex;
        flex-direction: row-reverse;   
    }
    .bottom-section {
        width: 40%;
    }
    

    #map {
        height: 80vh;
        
    }

    .details {
        margin: 20px 0;
        height: 80vh;
    }

    .filter-case {
        width: 25%;
        left: 100%;
        transform: translate(-100%, 30%); 
    }

    .establishmentList {
        height: 80vh;
    }

    .title-filter h2{
        font-size: 2em;
        font-weight: bold;
    }

  

    

   
}