{% extends 'Pro/base.html.twig' %}

{% block title %}Modifier un package{% endblock %}

{% block body %}
{% include "Pro/partials/header.html.twig" %}

<div class='container formResp my-6'>
  <a href="{{path('app_pro_home')}}" class="button from-center float-end">Retour</a>
  <h1 class="title-form"> Modifier mon package </h1>

  {{ include('Pro/package/_form.html.twig', {'button_label': 'Modifier'}) }}
</div>

{% endblock %}