{% extends 'base.html.twig' %}

{% block title %}Modifier un package{% endblock %}

{% block body %}

{% include "Pro/partials/header.html.twig" %}

<div class='container my-6 bloc-show'>
  <a href="{{path('app_pro_home')}}" class="button from-center float-end">Retour</a>
  <h1 class="bloc-show-title"> Modifier mon package </h1>

  {{ include('Pro/package/_form.html.twig', {'button_label': 'Modifier'}) }}
</div>

  {{ include('Pro/partials/footer.html.twig') }}
{% endblock %}