{% extends 'Pro/base.html.twig' %}

{% block title %}Nouveau Package{% endblock %}

{% block body %}


    <div class='container formResp my-6'>
    <a href="{{ path('app_pro_home') }}" class="button from-center float-end">Retour</a>
    <h1 class="title-form"> Ajouter un package </h1>

    

    {{ include('Pro/package/_form.html.twig') }}

    </div>

{% endblock %}
