{% extends 'base.html.twig' %}

{% block title %}Modifier un établissement{% endblock %}

{% block body %}
<main class="container-fluid">

    <h1>Modifier cet établissement</h1>

    <div class="title-establishment">
        <a class="button from-center" href="{{ path('app_establishments-pro') }}">Retour</a>
    </div>

    
    {{ include('establishment-pro/_form.html.twig', {'button_label': 'Modifier'}) }}

    

</main>
{% endblock %}
