{% extends 'base.html.twig' %}

{% block title %}Qualiextra{% endblock %}

{% block body %}

{% include "User/partials/header.html.twig" %}

    {% for package in packageList %}

    <img src="{{package.picture}}" >
    <h1>{{package.name}}</h1>
    <p>{{package.description}}</p>

    {% endfor %}

{% include "User/partials/footer.html.twig" %}

{% endblock %}
